<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PMSS SCHOLARSHIP</title>
    <%- include("../includes/csslinks.ejs") %>
</head>
<body style="background: linear-gradient(to right, #f7fafc, #e2e6f3);" >
    <%- include("../includes/navbar.ejs") %>

    
        <%- include("../includes/flash.ejs") %>
        <%- body %>
    
    <%- include("../includes/footer.ejs") %>
    <%- include("../includes/jslinks.ejs") %>
    
</body>
</html>